.env
__pycache__/
.idea/
create_token.py
get_data_in_gs.py
creds.json
add_orders_revenues_data_in_db.py
Воронка_2024_may.csv
technical_scripts/
create_barcode.py
testing_loggers.py
my_log.log
poligon.py
assembly_task_algos.py
new_test.json
test.json
test_data.py
1c_data_add.py
tokens.json
bureaucracy.py
upd_test.json